@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

/* Custom script font */
@font-face {
  font-family: "Lavonia Classy";
  src: url("/src/fonts/ed-lavonia-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  /* Fonts */
  --font-script: "Lavonia Classy", cursive;
  --font-sans: "Quicksand", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;

  /* Colors */
  --color-pistachio: #d4dd4c;
  --color-moss: #5a5b2f;
  --color-dustyPink: #f1a2c2;
  --color-coconut: #f9f0e6;
  --color-mandarine: #d8792e;
}

@layer base {

  html,
  body,
  #root {
    height: 100%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-coconut text-moss font-sans;
  }
}

/* hero text wrapper */
.hero-title-wrapper {
  overflow: visible;
}

/* the big "Conscious" line */
.hero-title {
  display: inline-block;
  padding-inline: 0.5rem;
  /* or margin-left: 8px; */
}

@media (max-width: 768px) {
  .hero-title {
    transform: none;
  }
}